@media only screen and (max-width: 600px)
 {
  body {
    background-color: rgb(250, 204, 0);
  }
  ul{
flex-direction: column;
}

.con{

flex-direction: column;
}

}






.con{

    display: flex;
    
  }
.k{
   flex-basis:  50%;
  background-color: bisque;
}

.l{
  flex-basis:  50%;
background-color: rgb(199, 115, 13);
}

ul{
  display:flex;
}
li{
  margin-left:50px ;
   font-family: 'Roboto', sans-serif;

}




